
[Unit]
Description = fc_engine

[Service]
Type           = simple
User           = root
Group          = root
LimitNOFILE    = 4096
Restart        = always
RestartSec     = 10s
StandardOutput = append:/mnt/github/tjf/fc_logs/fc_engine_access.log
StandardError  = append:/mnt/github/tjf/fc_logs/fc_engine_error.log
ExecStart      = java -jar  /mnt/github/tjf/freshcrafts/engine/target/engine-0.0.1-SNAPSHOT.jar

[Install]
WantedBy = multi-user.target
