
[Unit]
Description = fc_wiz_mongo

[Service]
Type           = simple
User           = root
Group          = root
LimitNOFILE    = 4096
Restart        = always
RestartSec     = 10s
StandardOutput = append:/mnt/github/tjf/fc_logs/fc_wiz_mongo_access.log
StandardError  = append:/mnt/github/tjf/fc_logs/fc_wiz_mongo_error.log
ExecStart      = java -jar  /mnt/github/tjf/freshcrafts/wiz_mongo/target/wiz_mongo-0.0.1-SNAPSHOT.jar

[Install]
WantedBy = multi-user.target
